
td {
    border: 1px solid black;
    text-align: center;
}

th {
  text-align: left;
   border: 1px solid black;
   text-align: center;
   background-color:#BFBFBF;
}
.record {
  margin: 30px;
}
table {
  width: 100%;
   border: 1px solid black;
   text-align: center;
}
